@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
@import "vars";
body {
	font-family: $ff-m;
	color: #000000;
}
main {
	margin: 0 auto;
	min-width: 320px;
}

// Section products

.products {
	padding: 50px 5px;
	min-width: 300px;
	min-height: 100vh;
	display: flex;
	gap: 40px;
	flex-direction: column;
	align-items: center;

	&__title {
		font-weight: 700;
		font-size: 20px;
		line-height: 24px;
		text-align: center;
		text-transform: uppercase;
	}

	&__btn {
		display: block;
		min-width: 154px;
		min-height: 40px;
	}
}
.card {
	position: relative;
	min-width: 300px;
	height: 470px;

	&__btn {
		position: absolute;
		top: 40%;
		z-index: 9;
		min-width: 16px;
		min-height: 16px;
		border: none;
	}

	&__slider {
	}
}

.btn-prev {
	&::before {
		content: url("../assets/images/icon/prev.png");
	}
	left: -10px;
}
.btn-next {
	&::before {
		content: url("../assets/images/icon/next-active.png");
		min-width: 100%;
		min-height: 100%;
	}
	right: -15px;
}
.slider {
	margin: 0 auto;
	width: 300px;
	overflow: hidden;
	&__line {
		display: flex;
		transition: 1s;
	}

	&__items {
		text-align: center;
		&__item {
			min-width: 200px;

			& img {
				display: inline-block;
				min-width: 200px;
				height: auto;
			}
		}
	}

	&__description {
		margin-top: 10px;
		& p {
			margin-top: 10px;
		}
	}
	&__title {
		font-weight: 600;
		line-height: 20px;
	}
	&__price {
		font-weight: 700;
		font-size: 24px;
		line-height: 29px;
		text-align: center;
	}
}
